:root {
	--font-sans-serif: 'Open Sans', sans-serif;
	--font-sanserif: 'Oswald', sans-serif;
	--font-serif: 'clarendon-urw', serif;

	--black: #000;
	--light-black: #151515;
	--darker-grey: #333;
	--dark-grey: #777;
	--grey: #959595;
	--medium-grey: #aaa;
	--light-grey: #ddd;
	--lighter-grey: #d9d9d9;
	--white: #fff;
	--off-white: #f0f0f0;
	--dark-white: #f5f5f5;
	--darkest-white: #eee;
	--red: #ef3b3b;
	--yellow: #f9cf4f;
	--blue: #999;
	--green: #515937;
}

body {
	color: var(--black);
	display: block;
	font-size: 14px;
	line-height: 150%;
	color: #000;
	font-family: var(--font-sans-serif);
	text-align: center;
	font-weight: 400;
}

.container {
	/* border: 1px solid blue; */
	margin: 0 auto;
	padding: 15px;
	width: 65%;
	display: block;
}

.container-img {

}

/* NAVIGATION */

.container-nav {
	/* border: 1px solid green; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	/* border: 1px solid yellow; */
	font-family: var(--font-sanserif);
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px 0;
	max-width: 1100px;
	margin: 0 auto;
	letter-spacing: 1px;
}

.nav-list {
	/* border: 1px solid purple; */
	list-style: none;
	display: flex;
	margin: 0;
}

.nav-list a {
	color: #000;
	display: inline-block;
	margin: 5px 30px;
	/* padding-right: 10px; */
	text-decoration: none;
}

.nav-list a:hover {
	border-bottom: 2px solid black;
	padding-bottom: 3px;
}

.underline a {
	border-bottom: 2px solid black;
	padding: 0 0 3px;
}

/* iMG */

img {
	max-width: 100%;
	display: block;
}

/* header img {
	display: block;
	max-width: 55%;
	float: right;
} */

.container-nav img {
	display: block;
	max-width: 45%;
	/* float: right; */
}

/* .component img {
	max-width: initial;
} */

/* .component__img {
	overflow-x: auto;
	border: 1px solid blue;
} */

/* HEADINGS */

h1 {
	font-family: var(--font-serif);
	font-size: 50px;
	text-transform: lowercase;
	text-align: center;
	font-weight: medium;
}

h2 {
	font-family: var(--font-sans-serif);
	font-size: 18px;
	text-align: center;
}

h3 {
	font-family: var(--font-sanserif);
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
}

h3 .footer-title {
	font-weight: normal;
}

/* FOOTER */

footer {
	padding-bottom: 65px;
}

.footer_social {
	/* border: 1px solid orange; */
	z-index: 1;
	background: url(../components/img/lines.jpeg) repeat-x center center;
}

/* .footer_icons {
	z-index: 2;
	background: var(--white);
} */

.footer_text {
	color: var(--grey);
	font-size: 12px;
}

.footer_text a {
	color: var(--grey);
	text-decoration: none;
}

.footer_text a:hover {
	color: var(--black);
}
