:root {
	--font-sans-serif: 'Open Sans', sans-serif;
	--font-sanserif: 'Oswald', sans-serif;
	--font-serif: 'clarendon-urw', serif;

	--black: #000;
	--light-black: #151515;
	--darker-grey: #333;
	--dark-grey: #777;
	--grey: #959595;
	--medium-grey: #aaa;
	--light-grey: #ddd;
	--lighter-grey: #d9d9d9;
	--white: #fff;
	--off-white: #f0f0f0;
	--dark-white: #f5f5f5;
	--darkest-white: #eee;
	--red: #ef3b3b;
	--yellow: #f9cf4f;
	--blue: #999;
	--green: #515937;
}

body {
	color: var(--black);
	display: block;
	font-size: 14px;
	line-height: 150%;
	color: #000;
	font-family: var(--font-sans-serif);
	text-align: center;
	font-weight: 400;
}

.component__code .container {
	/* border: 1px solid blue; */
	margin: 0 auto;
	padding: 15px;
	width: 65%;
	display: block;
}

/* NAVIGATION */

.container-nav {
	/* border: 1px solid green; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	/* border: 1px solid yellow; */
	font-family: var(--font-sanserif);
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px 0;
	max-width: 1100px;
	margin: 0 auto;
	letter-spacing: 1px;
}

.nav-list {
	/* border: 1px solid purple; */
	list-style: none;
	display: flex;
	margin: 0;
}

.nav-list a {
	color: #000;
	display: inline-block;
	margin: 5px 30px;
	/* padding-right: 10px; */
	text-decoration: none;
}

.nav-list a:hover {
	border-bottom: 2px solid black;
	padding-bottom: 3px;
}

.underline a {
	border-bottom: 2px solid black;
	padding: 0 0 3px;
}

/* OTHER LINKS */

.img-main a {
	font-family: var(--font-serif);
	font-size: 75px;
	color: var(--black);
	/* padding: 20px 0; */
	line-height: 200px;
	border-radius: 50%;
	background-color: var(--white);
	display: inline-block;
	text-decoration: none;
	width: 250px;
	height: 250px;
}

.link {
	border: 5px solid orange;
}

.flex-container a {
	font-family: var(--font-san-serif);
	color: var(--black);
	border-bottom: 1px solid var(--grey);
	text-decoration: none;
}

.flex-container a:hover {
		border-bottom: 1px solid var(--black);
}

.button a {
	position: relative;
	top: 325px;
	background-color: var(--white);
	text-decoration: none;
	font-family: var(--font-sans-serif); /* open sans */
	font-weight: bold;
	color: var(--black);
	text-transform: uppercase;
	border: 0;
	font-size: 16px;
	padding: 8px 68px;
	border-radius: 40px;
}

.button2 a {
	border: 0;
	position: relative;
	top: 38px;
	background-color: var(--white);
	text-decoration: none;
	font-family: var(--font-sans-serif); /* open sans */
	font-weight: bold;
	color: var(--black);
	text-transform: uppercase;
	font-size: 16px;
	padding: 8px 68px;
	border-radius: 40px;
}

/* IMG */

img {
	max-width: 100%;
	display: block;
}

/* header img {
	display: block;
	max-width: 55%;
	float: right;
} */

.container-nav img {
	display: block;
	max-width: 45%;
	/* float: right; */
}

.img-main {
	display: block;
	border-radius: 20px;
	background-image: url("../images/oyya-homepage.jpeg");
	background-repeat: no-repeat;
	width: 1180px;
	height: 410px;
	margin: 0 auto;
}

/* .component img {
	max-width: initial;
} */

/* .component__img {
	overflow-x: auto;
	border: 1px solid blue;
} */

/* POST */

.flex-container {
	/* border: 1px solid green; */
	display: flex;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}

.page-list {
	margin: 0 auto;
}

/* .post > * {
	flex: 1;
	padding-right: 16px;
} */

.post1 {
	width: 400px;
	height: 400px;
	border-radius: 8%;
	margin: 0 10px;
	background-image: url("../images/ice-cream-link.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.post2 {
	width: 400px;
	height: 400px;
	border-radius: 8%;
	margin: 0 10px;
	background-image: url("../images/froyo-link.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.post3 {
	width: 400px;
	height: 400px;
	border-radius: 8%;
	margin: 0 10px;
	background-image: url("../images/waffles-link.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.post4 {
	width: 400px;
	height: 400px;
	border-radius: 8%;
	margin: 20px 10px 0;
	background-image: url("../images/waffle-truck-link.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.post5 {
	margin: 0 auto;
	width: 340px;
	height: 355px;
	border-radius: 8%;
	margin: 20px 10px 0;
	padding: 20px 20px;
	background-image: url("../images/woodboard-background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 16px;;
	font-size: 14px;
}

.post6 {
	width: 400px;
	height: 400px;
	border-radius: 8%;
	margin: 20px 10px 0;
	background-image: url("../images/ice-cream-truck-link.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* HEADINGS */

h1 {
	font-family: var(--font-serif);
	font-size: 50px;
	text-transform: lowercase;
	text-align: center;
	font-weight: medium;
}

h2 {
	font-family: var(--font-sans-serif);
	font-size: 18px;
	text-align: center;
}

.post5 h2 {
	font-family: var(--font-sanserif);
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	font-family: var(--font-sanserif);
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
}

h3 .footer-title {
	font-weight: normal;
	line-height: 0;
}

/* FOOTER */

footer {
	padding-bottom: 65px;
}

.footer_social {
	/* border: 1px solid orange; */
	background: url(../components/img/lines.jpeg) repeat-x center center;
}

/* .footer_icons {
	z-index: 2;
	background: var(--white);
} */

.footer_text {
	color: var(--grey);
	font-size: 12px;
}

.footer_text a {
	color: var(--grey);
	text-decoration: none;
}

.footer_text a:hover {
	color: var(--black);
}
