<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@400;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/vsk0hzm.css">

    <title>Components | oyya</title>

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="https://kit.fontawesome.com/ffa12a99d4.js"
            crossorigin="anonymous"></script>

  </head>

  <body>

    <h1>Web Components</h1>

    <header>

      <h2>Header</h2>

      <article class="component">
        <h3 class="component__name">Navigation</h3>

        <div class="component__img">

          <img srcset="./img/page-header.png 2x"
            src="./img/page-header.png" alt="Page Header Image">

        </div>

        <div class="component__code">
          <div class="container-nav">

            <nav>

              <ul>
                <li class="underline"><a href="#!">Home</a></li>
                <li class="nav-border"><a href="#!">Ice Cream</a></li>
                <li class="nav-border"><a href="#!">Waffles</a></li>
                <li class="nav-border"><a href="#!">Frozen Yogurt</a></li>
                <li class="nav-border"><a href="#!">About Oyya</a></li>
                <li class="nav-border"><a href="#!">Jobs</a></li>
                <li class="nav-border"><a href="#!">Locations</a></li>
                <li class="item"><a href="#!">And</a></li>
              </ul>

            </nav>

      		</div>
        </div>

        <div class="header-container">

          &nbsp;

          <a href="#!" class="header-text">

            <h1>oyya<sup>&reg;</sup></h1>

          </a>

          &nbsp;

        </div>
      </article>

    </header>

    <h2>Typography Defaults</h2>

    <article class="component">
      <div class="component__name">
        <h3>Headings (h1, h2, h3...)</h3>

        <div class="component__img">

          <img srcset="./img/h1.png 2x"
            src="./img/h1.png" alt="Heading 1">

          <img srcset="./img/h2.png 2x"
            src="./img/h2.png" alt="Heading 2">

          <img srcset="./img/h3.png 2x"
            src="./img/h3.png" alt="Heading 3">

        </div>

        <div class="component__code">

          <h1>Frozen Yogurt</h1>

          <h2>Healthy, fresh and delicious in taste</h2>

          <h3>April 4</h3>

        </div>

      </div>
    </article>

    <article class="component">
      <div class="component__name">
        <h3>Body Text</h3>

        <div class="component__img">

          <img srcset="./img/body.png 2x"
            src="./img/body.png" alt="Heading 1">

        </div>

        <div class="component__code">

          <div class="container">

            <p>The oyya frozen yogurt is pure indulgence. The frozen yogurt is
              prepared on site at the time of your order with low-fat yogurt and
              milk. It is a refreshing delicacy with a delicious taste and
              creaminess. Oyya frozen yogurt is low in fat, with less sugar
              and packed with probiotics to make it a healthy snack. You can
              choose from two yogurt flavors every day and from more than twenty
              toppings such as fresh fruit, chocolate, cookies, nuts and candy.
              Then you can choose another sauce to complete your oyya frozen
              yogurt experience!</p>

            </div>

        </div>

      </div>
    </article>

    <section class="page-list">

      <img srcset="./img/section.png 2x"
           src="./img/section.png" alt="Section">

      <div class="flex-container">

        <article class="post post1">
          <div class="button button1">

            <a href="#!">Ice Cream</a>

          </div>
        </article>

        <article class="post post2">
          <div class="button button1">

            <a href="#!">Frozen Yogurt</a>

          </div>
        </article>

        <article class="post post3">
          <div class="button button1">

            <a href="#!">Waffles</a>

          </div>
        </article>

      </div>

      <div class="flex-container">

        <article class="post post4">
          <div class="button button2">

            <a href="#!">More Info</a>

          </div>
        </article>

        <article class="post post5">

          <h2>April 4</h2>

          <p>Twenty delicious flavors at oyya Hasselt!
            The perfect shopping break! . . ....<a href="#!">read more</a></p>

          <h2>April 2</h2>

            <p>New flavor @oyya Brugge: crispy cappuccino!
            . . . #icebar #oyya #homemade #...<a href="#!">read more</a></p>

          <h2>April 1st</h2>

            <p>Oyya is also open on Easter and Easter Monday!
            In Hasselt from 2 pm to 6 pm and in Brugg...
            <a href="#!">read more</a></p>

          <div class="button button3">

            <a href="#!">More News</a>

          </div>
        </article>

        <article class="post post6">
          <div class="button button2">

            <a href="#!">More Info</a>

          </div>
        </article>

      </div>

    </section>

    <article class="component">
      <h3 class="component__name">Footer Navigation</h3>

      <div class="component__img">

        <img srcset="./img/footer.png 2x"
          src="./img/footer.png" alt="Footer">

      </div>

      <div class="component__code">

        <footer>

          <div class="footer_social">

          </div>

          <div class="footer_icons">

            <p><a href="#!"><i class="fab fa-facebook-f"></i></a>
               <a href="#!"><i class="fab fa-instagram"></i></a></p>

          </div>

          <h3>Oyya</h3>
          <h4>Bruges and Ghent</h4>

          <p><a href="#!"><img src="../images/infoatoyya.png"
                alt="info@oyya.be"></a></p>

          <div class="arrow-reveal">

            &nbsp;

          </div>

          <div class="footer_text">

            <p>&copy; 2021 Oyya | <a href="#!">Site by Skinn</a></p>

          </div>
        </footer>

      </article>

  </body>

</html>
