<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@400;700&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">

    <title>Components | oyya</title>

  </head>

  <body>

    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component__name">Navigation</h3>

      <img srcset="./img/page-header.png 2x"
        src="./img/page-header.png" alt="Page Header Image">

      <div class="component__code">

        <div class="container">

    			<nav>

    				<ul class="nav-list">
    					<li class="underline"><a href="">Home</a></li>
    					<li><a href="">Ice Cream</a></li>
    					<li><a href="">Waffles</a></li>
    					<li><a href="">Frozen Yogurt</a></li>
    					<li><a href="">About Oyya</a></li>
    					<li><a href="">Jobs</a></li>
    					<li><a href="">Locations</a></li>
    				</ul>

    			</nav>

    			<a href=""><img src="../logo-and.png" alt="logo"></a>

    		</div>

      </div>
    </article>

  </body>

</html>
